@mixin navbar-logo {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  font-family: 'Press Start 2P', cursive;
}

@mixin btn-pressed($color, $shadow-color) {
  background-color: $color;
  box-shadow: 0 6px 0 $shadow-color;
  transition: transform 0.1s, box-shadow 0.1s;

  &:hover {
    transform: translateY(4px);
    box-shadow: 0 2px 0 $shadow-color;
  }
}
